body {
  font-family: "Roboto", sans-serif;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#app {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.link-box {
  width: 50vw;
  border: 1px;
  border-radius: 10px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 50px 20px;
}

.link {
  margin: 10px auto;
  max-width: 40vw;
  padding: 20px 20px 20px 50px;
  text-align: left;
  font-size: 20px;
  color: black;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgba(0, 0, 0, 0.23) 0px 1px 3px;
}

a {
  text-decoration: none;
}

.link:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
}
